@import '../colorVar';
*{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: $dark;
}

.total_box{
  position: relative;
  width: 1170px;
  min-height: 50px;
  background: #FFFFFF;
  box-shadow: 0px 2px 25px rgba(162, 162, 162, 0.25);
  border-radius: 2px;
  margin: 0 auto 30px;
  padding-bottom: 20px;
  .total_headet{
    width: 100%;
    // height: 54px;
    height: 94px;
    padding: 0 20px;
    display: flex;
    .header_title{
      margin-top: 20px;
    }
    .header_input_container{
      margin-left: auto;
      display: flex;
      align-items: flex-end;
      button{
        margin-left: 20px;
        height: 35px;
        padding: 8px 25px;
        background: $yellow;
        border-radius: 5px;
      }
    }
  }
  .total_table{
    table{
      width: 100%;
      border-collapse: collapse;
    }
    th{
      display: table-cell;
      text-align: left;
      padding: 16px 0 15px 20px;
      background: $yellow_light;
    }
    tbody tr{
      border-bottom: 1px solid $gray_5;
      &:last-child{
        border-bottom: none;
      }
    }
    td{
      img{
        margin-right: 5px;
      }
      .td_country{
        display: flex;
        align-items: center;
        height: 100%;
      }
      vertical-align: middle;
      padding-left: 20px;
      height: 50px;
    }
  }
}
.input_space{
  display: flex;
  margin-left: auto;
}
.btn_save{
  color: $dark;
  margin-top: 30px;
  background: $yellow;
  border-radius: 7px;
  height: 35px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input_container{
  margin-top: 10px;
  position: relative;
  width: 300px;
  font-size: 16px;
  line-height: 19px;
  color: $gray_1;
  margin-right: 20px;
  .label{
    margin-bottom: 5px;
  }
  .input{
    border: 1px solid $gray_5;
    min-height: 30px;
    display: flex;
    background: white;
    .tag_area{
      display: flex;
      flex: 1 1;
      flex-wrap: wrap;
      padding: 0 0 5px 9px;
      .tag{
        height: 20px;
        cursor: pointer;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        background: $yellow_light;
        white-space: nowrap;
        padding: 0 3px;
        margin-left: 3px;
        margin-top: 5px;
        .v-icon{
          margin-left: 6px;
        }
      }
      .search{
        // обязательно надо минимальную шырину добавить!!!
        min-width: 40px;
        align-self: center;
        display: flex;
        height: 18px;
        font-size: 12px;
        line-height: 14px;
        flex: 1 1;
        margin-left: 10px;
        margin-top: 5px;
        color: $gray_1;
      }
    }
    .v-icon{
      transition: 0.5s;
      color: $yellow;
      float: right;
      margin-left: auto;
      align-self: flex-start;
      margin-top: 3px;
    }
  }
  .drop_menu_box{
    z-index: 2;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-height: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 7px rgba(68, 68, 68, 0.25);
    border-radius: 0 0 7px 7px;
    overflow: hidden;
    .drop_row{
      cursor: pointer;
      height: 30px;
      padding-left: 15px;
      width: 100%;
      display: flex;
      align-items: center;
      background: $white;
      &:hover{
        background: $gray_6;
      }
      .check_box{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 18px;
        width: 18px;
        border: 1px solid $gray_3;
        border-radius: 3px;
        margin-right: 15px;
        .v-icon{
          color: $gray_3;
        }
      }
      span{
        font-size: 12px;
        line-height: 14px;
        color: $gray_1;
      }
      &.drop_row_active{
        background: $yellow_light;
        .check_box{
          background: #FFEA9F;
          border: 1px solid $gray_1;
          .v-icon{
            color: $gray_1;
          }
        }
      }
    }
  }
}
.btn_arrow{
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: $yellow;
  bottom: -10px;
  right: 10px;
  z-index: 3;
  img{
    color: #FFFEE8;
  }
}
.btn_arrow_reverse{
  transform: rotate(180deg);
}
.table_total_min{
  height: 245px;
  overflow: hidden;
}