@import '../colorVar';

.country_main{
  width: 780px;
  min-height: 50px;
  position: relative;
  // margin: 0 auto;
  // margin-top: 20px;
  background: #FFFFFF;
  box-shadow: 0px 2px 25px rgba(162, 162, 162, 0.25);
  border-radius: 2px;
}
.table_header{
  height: 50px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  background: $yellow_light;
  .h_countries{
    width: 250px;
  }
  .h_status{
    width: 250px;
  }
  .h_percent{
    margin-left: auto;
  }
}
.table_box{
  padding: 0 20px 20px;
  font-size: 12px;
  line-height: 14px;
  position: relative;
  &::after{
    bottom: 20px;
    left: 0px;
    content: '';
    position: absolute;
    height: 3px;
    width: 780px;
    background: rgb(255, 255, 255);
  }
  
}
.tab_row{
  margin-left: auto;
  display: flex;
  height: 50px;
  position: relative;
  &::after{
    bottom: 0;
    left: -270px;
    content: '';
    position: absolute;
    height: 1px;
    width: 780px;
    background: $gray_5;
  }

  .status{
    width: 250px;
  }
  .percent{
    margin-left: auto;
  }
}
.country_cell{
  display: flex;
  flex-wrap: wrap;

}
.country{
  display: flex;
  align-items: center;
  img{
    margin-right: 5px;
  }
}
.tab_row{
  display: flex;
  // justify-content: space-between;
  align-items: center;
  width: 490px;
}
.btn_arrow{
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: $yellow;
  bottom: -10px;
  right: 10px;
  z-index: 3;
  img{
    color: #FFFEE8;
  }
}
.btn_arrow_reverse{
  transform: rotate(180deg);
}
.table_box_min{
  height: 220px;
  overflow: hidden;
}