.s_green {
  background: #1bc5bd;
  padding: 3px 6px;
  border-radius: 3px;
}
.s_green_light {
  background: #c9f7f5;
  padding: 3px 6px;
  border-radius: 3px;
}
.s_blue {
  background: #6993ff;
  padding: 3px 6px;
  border-radius: 3px;
}
.s_blue_light {
  background: #e1e9ff;
  padding: 3px 6px;
  border-radius: 3px;
}
.s_red {
  background: #f64e60;
  color: white;
  padding: 3px 6px;
  border-radius: 3px;
}
.s_red_light {
  background: #ffe2e5;
  padding: 3px 6px;
  border-radius: 3px;
}
.s_orange {
  background: #ffa800;
  padding: 3px 6px;
  border-radius: 3px;
}
.s_black {
  background: #212121;
  color: white;
  padding: 3px 6px;
  border-radius: 3px;
}
.s_grey {
  background: #d6d6e0;
  padding: 3px 6px;
  border-radius: 3px;
}
.s_violet {
  background: #eee5ff;
  padding: 3px 6px;
  border-radius: 3px;
}
.s_purple {
  background: #8950fc;
  color: white;
  padding: 3px 6px;
  border-radius: 3px;
}
.s_pink {
  background: #e850fc;
  padding: 3px 6px;
  border-radius: 3px;
}
